$better_green:rgb(25, 216, 25);
$better_red:rgba(253, 0, 0, 0.897);
$better_blue:rgba(0, 0, 255, 0.89);

header{
    background-color: aquamarine;
    display: flex;
    align-content: center;
}


